@use '../variables' as *;
@use '../tools' as *;

html {
  font-size: 20px;
}

* {
  @include mozilla__scrollbar;
  @include webkit__scrollbar;
}

body {
  background-color: $color__background--primary !important;
}

.header__title {
  font-family: Library3;
}

.description-wrapper__text--gradient {
  @include gradient-text($color__text--secondary, $color__text--tertiary);
}

.gallery__container {
  margin: 0;
  padding: 10px;
  width: 100%;
}

.error__description {
  color: $color__text--quaternary;
}

.loader--spinner {
  font-family: Library3;
  font-size: 3rem;
  animation: 1s color-change infinite;
}

.modal__content {
  background-color: $color__background--secondary;
  width: 100%;
}

@keyframes color-change {
  0% { opacity: 1; }
  50% { opacity: 0.5; }
  100% { opacity: 1; }
}