//* Backgrounds ======================================================================
$color__background--primary: #171717;

//* Texts ============================================================================
$color__text--primary: #FFF;
$color__text--secondary: #F86D68;
$color__text--tertiary: #fB627C;
$color__text--quaternary: #B9B9B9;

//* Texts ============================================================================
$color__border--primary: #B9B9B9;