@use '../variables' as *;
@use '../tools' as *;

.button-1 {
  border: none;
  font-weight: 400;
  padding: 10px 30px;
}

.button-1--gradient {
  color: $color__text--primary;
  @include gradient-background($color__button--primary, $color__button--secondary);
}

.button-1--outlined {
  background-color: transparent;
  border: 2px solid $color__border--primary;
  color: $color__border--primary;
}

.button-1--fluid {
  width: 100%;
}

