@use '../variables' as *;
@use '../tools' as *;

.image-1--aspect-ratio {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: cover;
  background-color: $color__placeholder--primary;
}

.image-1--selectable {
  cursor: pointer;
  
  @include screen-xl() {
    &:hover {
      opacity: 0.6 !important;
    };
  };
}